.App {
  text-align: center;
}
.App {
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.bar {
  -webkit-text-size-adjust: 100%;
  line-height: 1.75em;
  -webkit-tap-highlight-color: rgba(201,224,253,0);
  visibility: visible;
  list-style: none;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
  font-weight: 700;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 24px;
  background-color: #ddd;
  width: 100%;
  color: #6a6a6a;
  z-index: 10;
}

.item{
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  font-family: Lato,Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: rgba(201,224,253,0);
  visibility: visible;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  display: block;
  padding: 1.2em;
  width: 50%;
}

.screen {
  -webkit-text-size-adjust: 100%;
  line-height: 1.75em;
  -webkit-tap-highlight-color: rgba(201,224,253,0);
  visibility: visible;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MontSerrat,Tahoma,Arial,sans-serif;
  font-weight: 700;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;
  display: block;
  z-index: 10;
  box-shadow: 8px 8px 0 rgba(0,0,0,.15);
  overflow: hidden;
}

.grid-list{
  -webkit-text-size-adjust: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75em;
  color: #8a8a8a;
  font-family: Lato,Helvetica,Arial,sans-serif;
  -webkit-tap-highlight-color: rgba(201,224,253,0);
  visibility: visible;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: opacity .3s ease-out;
  margin-bottom: 40px;
}






/* .box {
    width: 300px;
    height: 300px;
    background-color: #a0a0a0;
    position: relative;
}
.ribbon {
  transform: rotate(45deg);
  border: 50px solid transparent;
  border-bottom: 50px solid red;
  position: relative;
  top: 3.4px;
  right: -122px;
  padding: 0 10px;
  width: 250px;
  color: white;
  font-family: sans-serif;
  size: 11px;
}
.ribbon .txt {
    position: absolute;
    top: 15px;
    left: 25%;
} */



.gal-container {
  position: relative;
  width: 100%;
  overflow:hidden;

}

.gal-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/* .container:hover .overlay {
  opacity: 1;
} */

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.corner-ribbon {
  width: 250px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  overflow: hidden;
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
/* Different positions */

.corner-ribbon.top-right {
  /* top: 18px; */
    top:30px;
  right: -70px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(46deg);
  overflow: hidden;
}
.corner-ribbon.blue {
  background: #39d;
}

.javascript{
  color: #181818; 
  background: #f1e05a !important;

}

.python{
  color: #ffd343; 
  background: #3776ab !important;
}

.html{
  color: #ffffff;
background: #e34c26 !important;
}

.c{
  color: #fff;
  background: #0078d4 !important;
}

.css{
  color: #ebebeb;
  background: #264de4 !important;
  
}






.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}